body {
    background-image: url(../images/bg_css.jpeg);
}
table {
    background-image: url(../images/bg.tb_css.jpeg);
}
.style {
    font-weight: bold;
}
.red{
    color:crimson
}
.blue{
    color:dodgerblue
}
.green{
    color:greenyellow
}
